*{
    margin: 0;
    padding: 0;
    
}
#container{
    height: 100vh;
    width: 100vw;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#box{
    width:  450px;
    height: 550px;
    background-color: rgba(240, 233, 233, 0.581);
    text-align: center;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.433);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#box2{

}
.FORM{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    border-radius: 20px;

    
}
button{
   background-color: rgb(0, 0, 0);
   color: white;
   font-weight: 600;
   font-size: 25px;
   width: 160px;
   
   margin-top: 30px;
   border-radius: 20px;
   overflow: auto;
}